* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  ---primary_color: #6e3781;
  ---secondary_color: #a969bf;
  ---color: #2e1735;
  ---color2: #d6b8e0;

  ---roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(---color2);
  position: relative;
  width: 100%;
  overflow-x: hidden !important;
}

section {
  padding: 7rem 1rem 2rem !important;
}

.wrapper {
  width: 80% !important;
  margin: 0 auto;
}

header {
  position: relative;
}

header nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px;
  z-index: 99;
  background-color: var(---primary_color);
}

.window-scroll {
  background-color: var(---secondary_color);
}

.window-scroll nav a {
  color: var(---color);
  font-size: 16.2px;
}

.window-scroll nav a:hover {
  color: var(---primary_color);
}

.window-scroll .right-nav a {
  border: 0.1px solid transparent;
  color: var(---color);
}

.window-scroll .right-nav a:hover {
  color: var(---color2);
}

.window-scroll .right-nav {
  border: 0.1px solid var(---color2);
}

.window-scroll .dropdown-content a {
  color: var(---color2);
  background-color: var(---secondary_color);
}

.window-scroll .dropdown-content a:hover {
  color: var(---primary_color);
}

header nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* page logo */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  #logo {
    object-fit: cover;
    background: transparent;
    /* Ensure transparency */
    height: 75px;
    width: 250px;
    overflow: hidden;
    margin-left: -30px;
    margin-top: -0px;
  }
}

.carrier {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

/* Overlay (background) */
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1000;
}

/* welcome text */
#welcomeText {
  position: relative;
  top: 2rem;
}

/* Popup box */
.modal {
  position: fixed;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 300px;
  text-align: center;
  display: none;
  z-index: 1001;
  animation: fadeIn 0.3s ease-in-out;
}

/*  for index page */
#login{
  padding: 4rem 0;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -55%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

/* Close button */
.close-btn {
  background: red;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

/* Open button */
.open-btn {
  padding: 10px 15px;
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.light,
.bars {
  display: none;
}

/* toggle dark mood  */

.dark-mode {
  background-color: #401f3f !important;
  color: white !important;
  border: white !important;

  h2,
  p,
  h1,
  h4,
  a,
  .btn,
  .greating {
    color: white !important;
  }

  .home_content {
    border: 3px solid var(---color2);
  }
}


.hallow {
  display: none;
}


.links {
  display: flex;
  position: relative;
  gap: 1rem;
  text-transform: capitalize;
  background-color: transparent;
}

.links a {
  text-decoration: none;
  color: var(---color2);
  position: relative;
}

.links a:hover {
  color: var(---secondary_color);
}

.links a::after {
  position: absolute;
  content: "";
  height: 2px;
  left: 10px;
  bottom: -5px;
  width: 0;
  background-color: var(---color2);
}

.links a:hover::after {
  transition: 0.4s;
  z-index: 1;
  width: 75%;
}

.nav a:hover::after {
  transition: 0.4s;
  z-index: 1;
  width: 83%;
}

.right-nav {
  display: flex;
  gap: 1rem;
  z-index: 1;
  position: relative;
}

.right-nav::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: var(---color2);
  z-index: -1;
  transition: 0.2s;
}

.right-nav:hover::after {
  width: 100%;
}

.right-nav a {
  text-decoration: none;
  color: var(---color2);
  position: relative;
  padding: 5px 10px;
  border: 0.2px solid;
  z-index: 1;
  text-transform: capitalize;
}

.right-nav a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: var(---color);
  z-index: -1;
  transition: 0.2s;
}

.right-nav a:hover::after {
  width: 100%;
}

.form {
  display: flex;
  position: relative;
}

.noResult {

  display: none !important;
}

.noResults {
  position: absolute;
  padding: 5px;
  right: 2rem;
  top: 2.5rem;
  width: 270px;
  color: tomato;
  background-color: beige;
  z-index: 99;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.no-result::placeholder {
  color: red;
  opacity: 1;
}

input {
  width: 280px;
  height: 30px;
  border: 1px solid var(---secondary_color);
  padding: 0 15px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  outline: none;
}

.search {
  background-color: var(---color2);
  padding: 1px 7px;
  border: 1px solid;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.search__btn {
  display: flex;
  gap: 2rem;
}

.search-btn {
  display: none;
}

.search__btn #toggleBtn {
  font-size: 30px;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.drop-btn {
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-left: -50px;
  height: auto;
  z-index: 1;
  border: none;
  background-color: var(---primary_color);
  min-width: 130px;
  box-shadow: 0px 2px 8px 5px rgba(0, 0, 0, 0.5);
}

.dropdown-content a {
  display: block;
  padding: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content .btn1 {
  margin: 10px;
  padding: 8px 28px;
}

.home_content {
  display: flex;
  width: min(100%, 1000px);
  margin-top: 7rem;
  padding-top: 2rem;
  border: 3px solid black;
}

.text-wrapper {
  padding-left: 1rem;
}

.text-wrapper h1 {
  font-size: 4rem;
  padding-bottom: 1rem;
  color: var(---color);
}

.text-wrapper p {
  max-width: 450px;
}

p {
  color: var(---color2);
}

img {
  width: 420px;
  max-width: 90%;
}

.img-tag {
  position: relative;
  right: 10px;
  bottom: 5rem;
  left: 80px;
}

.down-gift img {
  height: 10px;
  width: 50px;
  margin-right: 35px;
}

.down-gift img:nth-child(2) {
  height: 15px;
}

.down-gift {
  justify-content: flex-end;
  display: flex;
  margin-top: 5rem;
}

/*..... About-Us -styling .......*/

.about {
  overflow-x: hidden;
}

.about-max {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}


.about-title {
  font-size: 20px;
  color: var(---primary_color);
  font-weight: 400;
  padding-bottom: 2rem;
}

.about-title h2 {
  font-size: 40px;
  text-transform: uppercase;
  color: var(---color);
}

.about-title p {
  color: var(---primary_color);
  font-weight: 500;
}

.about-text {
  padding: 10px 0;
  height: 390px;
  overflow: scroll;
}



.about-text h4 {
  font-size: 24px;
  padding-bottom: 10px;
}

.about-text p {
  line-height: 1.5rem;
  word-spacing: 2px;
  font-size: 20px;
  color: var(---primary_color);
}

.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: fit-content;
  margin-top: 7rem;
}

.btn {
  background-color: var(---primary_color);
  padding: 10px;
  margin: 1rem 0;
  display: inline-block;
  color: var(---color2);
  position: relative;
  z-index: 1;
  border: 1px solid var(---color2);
  text-decoration: none;
}

.btn:hover {
  color: var(---color);
}

.btn::before {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(---secondary_color);
  transition: 0.5s;
  z-index: -1;
}

.btn:hover::before {
  width: 100%;
}

.about-card {
  position: relative;
  width: 200px;
  height: 170px;
  margin: 10px;
  padding: 1rem;
  background-color: var(---primary_color);
  border-radius: 20px;
  z-index: 1;
}

.about-card:hover {
  margin-top: 2rem;
  transition: 0.2s all;
  border-top-right-radius: 57px;
  border-bottom-left-radius: 87px;
}

.about-card::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 0;
  height: 100%;
  transition: all 0.2s ease;
  z-index: -1;
  border-radius: inherit;
  border-top-right-radius: 34px;
  border-bottom-left-radius: 34px;
  outline: none;
  border: none;
  box-shadow: 1rem 1rem 0.1rem var(---secondary_color);
  background-color: var(---secondary_color);
}

.about-card:hover::before {
  width: 100%;
}

.about-card h4 {
  padding: 1rem 0;
  color: var(---color2);
}

.icon {
  font-size: 15px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 10px;
  color: var(---color2);
  background-color: whitesmoke;
  position: relative;
  z-index: 1;
}

.icon::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: rgb(218, 218, 221);
  border-radius: 50%;
  transition: 0.5s;
  z-index: -1;
  opacity: 0.6;
}

.icon:hover::before {
  width: 100%;
}

/* ............Our course.......... */

#courses {
  margin-top: -6rem;
}

#courses h2 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
  color: var(---color);
}

span {
  color: var(---secondary_color);
}

.courses-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding: 1rem 0;
}

.course-image img {
  width: 98%;
  height: 200px;
}

.course {
  text-align: center;
  border: 1px solid transparent;
  background-color: var(---secondary_color);
  animation-name: slidein;
  animation-duration: 1s;
  height: auto;
}

.course:hover {
  transform: scale(1.1);
  transition: 2s all;
  background-color: var(---primary_color);
  box-shadow: 1px 1px 10px var(---secondary_color);
}

.course-infro {
  padding: 1rem 1.5rem;
  height: 300px;
  overflow-y: auto;
}

.course-infro p {
  color: var(---color2);
  text-align: left;
}

.course-infro h4 {
  color: var(---color);
  font-size: 20px;
  margin-bottom: 2rem;
}

.course-infro .btn {
  margin: 30px 0;
}

.learn-more {
  display: none;
  text-align: left;
}

.learn-more.hide {
  display: block;
}

/* .....frequenly asked questions......... */

.faqs {
  margin: 0 auto;
}

.faqs h2 {
  text-align: center;
  font-size: 40px;
  padding-bottom: 2rem;
  color: var(---color);
}

.faq h4 {
  line-height: 2.1;
  font-size: 1rem;
}

.faq_container {
  user-select: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.faq {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  cursor: pointer;
  height: max-content;
  background-color: var(---primary_color);
  color: var(---color2);
  box-shadow: 0 0.2rem 0.4rem var(---secondary_color);
}

.faq_icons {
  align-self: flex-start;
  font-size: 1.2rem;
}

.faq p {
  margin-top: 0.8rem;
  display: none;
}

.faq.open p {
  display: block;
}

.pink {
  background-color: var(---secondary_color) !important;
}

/* ###########----testimonial---###### */

.testimonials {
  margin: 0 auto;
  position: relative;
}

.testimonials h2 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  color: var(---color);
}

.testimonial_container {
  overflow-x: auto;
  will-change: transform;
  position: relative;
  display: flex;
  width: 85%;
  gap: 1rem;
  border-bottom: 2px dotted #2e1735;
}

::-webkit-scrollbar {
  width: 0;
}

.direction {
  position: relative;
  bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
}

.testimonial {
  border: 1px solid var(---secondary_color);
  padding-top: 3rem;
  margin: 4rem 0 1rem 0;
  animation: scrolls 60s linear infinite;
}

@keyframes scrolls {
  0% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(-300%);
  }
}

.avarter img {
  width: 5rem;
  height: 5rem;
}

.avarter {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: 1rem solid var(---color2);
  overflow: hidden;
  margin: 0 auto 1rem;
}

.testimonial_info {
  text-align: center;
}

.testimonial_body {
  padding: 2rem 1.5rem;
  margin-top: 3rem;
  background: var(---secondary_color);
  box-shadow: 1px 0 10px var(---color2);
  position: relative;
  width: 350px;
  height: 200px;
  overflow-y: auto;
  border-top-left-radius: 40px;
}

.testimonial_body::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: 50%;
  display: block;
  width: 3rem;
  height: 3rem;
  background: linear-gradient(transparent,
      var(---secondary_color),
      var(---secondary_color),
      var(---secondary_color));

  transform: rotate(-45deg);
}

/* ----foter----- */
.foter {
  padding-top: 2rem;
  background-color: var(---secondary_color);
}

.foter_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-start;
  gap: 2rem;
}

.foter h4 {
  font-size: 18px;
  color: var(---primary_color);
}

.foter a {
  text-decoration: none;
  color: var(---color2);
}

.foter a:hover {
  text-decoration: underline;
}

.foter1 {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.foter1 img {
  object-fit: cover;
  background: transparent;
  height: 66px;
  max-height: 100%;
  width: 250px;
  overflow: hidden;
  margin-left: -20px;
  margin-top: -13px;
}

.foter2 {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  flex-direction: column;
  width: 100px;
  gap: 1rem;
}

.foter3 {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.foter4 {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.foter_social {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
  font-size: 20px;
}

.foter_copyright {
  margin-top: 3rem;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  border-top: 1px solid var(---color2);
}

.search1 {
  background: var(---color2);
  font-size: 20px;
  padding: 7.5px 8px;
}

.form-mobile {
  display: none;
}

.expore {
  height: auto;
  width: 400px !important;
  border-radius: 12px;
  font-size: 30px;
  padding: 2rem;
  margin: 3rem auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

  p {
    color: var(---color2);

  }
}

/* ###############---Meidia Query---########## */

@media screen and (max-width: 1210px) {

  .wrapper {
    width: 91% !important;
  }

  .carrier {
    gap: 2rem;
  }
}

@media screen and (max-width: 1099px) {
  .wrapper {
    width: 90% !important;
  }

  .search__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 30px;
  }

  header {
    position: relative;
  }

  .nav-container {
    position: relative;
  }

  .bars {
    display: block;
    color: var(---color2);
    font-size: 30px;
    position: relative;
  }

  .window-scroll {
    background-color: var(---primary_color);
  }

  .carrier {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    left: -135%;
    right: 0;
    width: 90vw;
    height: fit-content;
    gap: 4rem;
    background-color: var(---secondary_color);
    padding: 2rem 0;
    transition: 0.5s all;
    z-index: 5;
  }

  .effect {
    left: -43px;
  }

  .unhide {
    display: block;
  }

  .links {
    flex-direction: column;
    text-align: center;
  }

  .links a {
    box-shadow: -4rem 6rem 10rem var(---primary_color);
  }

  .links a:hover {
    color: var(---color2);
  }

  .links a,
  .window-scroll nav a {
    padding: 15px;
    font-size: 20px;
    color: var(---color2);
  }

  .links a:hover::after {
    width: 96%;
  }

  .form {
    display: none;
  }

  .hallow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    box-shadow: 1px 5px 4px 5px rgba(0, 0, 0, 0.1);
    background: rgba(0, 22, 0, 0.5);
    width: 100%;

    input {
      width: 100%;
      margin: auto;
      border-radius: 0;
      filter: none;
      padding: 1.4rem;
      font-size: 20px;
      border: none;
    }
  }

  .form-mobile {
    display: block;
    position: absolute !important;
    top: 3rem;
    right: 0;

    .input {
      z-index: 99;
    }
  }

  .noResult {
    width: 170px;
    position: absolute;
    top: 9rem;
    left: 0;
    background-color: transparent;
    color: tomato;
  }

  .search-btn {
    display: block;
  }

  .drop-btn {
    display: none;
  }

  .window-scroll .dropdown-content a {
    background-color: transparent;
    box-shadow: -4rem 6rem 10rem var(---primary_color);
  }

  .dropdown .dropdown-content {
    position: relative;
    top: 0;
    right: 0;
    margin: auto;
    display: block;
    background-color: var(---);
  }

  .home_content {
    flex-direction: column;
    position: relative;
    margin-top: 2.5rem;
  }

  .text-wrapper {
    margin-bottom: 5rem;
  }

  .text-wrapper h1 {
    font-size: 100px;
  }

  .text-wrapper p {
    font-size: 25px;
    max-width: 100%;
  }

  .img-tag img {
    width: 100%;
    max-width: 100%;
  }

  .img-tag {
    margin: 1rem;
    position: relative;
    left: 0;
  }

  .down-gift {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    padding-bottom: 1rem;
    height: 50px;
  }

  .down-gift img {
    width: 50px;
    height: 20px;
    margin: 0px 10px;
  }

  /* about us */

  .about-max {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: none;
  }

  .about-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .about-text {
    height: auto;
    overflow-y: none;
  }

  .about-text p {
    text-align: left;
    font-size: 20px;
    padding: 0 1rem;
  }


  .about-card:hover {
    margin-top: 0;
    margin-bottom: 0;
    transition: 0.2s all;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .about-card::before {
    display: none;
  }

  .about-card:hover::before {
    display: none;
  }

  .about-card {
    width: auto;
    height: auto;

  }

  .courses-container {
    grid-template-columns: 1fr 1fr;
  }

  .faq_container {
    grid-template-columns: 1fr;
  }

  .testimonial {
    animation: none;
  }

  .testimonial_body {
    padding: 2.5rem 1rem 10px;
    margin-top: 2rem;
    width: 350px;
    font-size: 17px;
  }

  .foter1 {
    margin-top: 0;

  }
}

@media screen and (max-width: 750px) {
  .wrapper {
    width: 90%;
  }

  .search__btn {
    gap: 1rem;
  }

  .right-nav {
    margin: 0 auto;
  }

  .form {
    float: left;
    margin: 0 2rem;
  }

  input {
    width: 100%;
  }

  .text-wrapper h1 {
    font-size: 35px;
  }

  .text-wrapper p {
    max-width: inherit;
    font-size: 20px;
    padding: 0 10px;
  }

  .down-gift {
    max-width: 100%;
  }

  .down-gift img {
    width: 30px;
  }

  .about .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .card .about-card {
    min-width: 100%;
  }

  .courses-container {
    grid-template-columns: 1fr;
  }

  .faqs {
    margin: 0 auto;
  }

  .testimonials h2 {
    font-size: 30px;
    text-align: center;
  }

  .testimonial_body {
    width: 200px;
  }

  .foter {
    text-align: center;
  }

  .foter_container {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    align-items: flex-start;
  }

  .foter1 {
    text-align: center;
    width: auto;

    img {
      height: 76px;
    }
  }

  .foter4 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}